{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Valider la commande</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/flambi/ProjetSymfony/thedistrict/src/Controller/CommandeController.php</code></li>
        <li>Your template at <code>/home/flambi/ProjetSymfony/thedistrict/templates/commande/index.html.twig</code></li>
    </ul>

    <a href="{{ path('app_commande_add_commande')}}" class="btn btn-outline-dark">Valider le panier</a>
</div>
{% endblock %}
